@using PagedList.Mvc;
@model PagedList.IPagedList<TestTemplate.Models.NhanVien>
@using System.Globalization;

@{
    ViewBag.Title = "DanhSachNhanVien";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Danh sách nhân viên</h2>

<p>
    <a href="@Url.Action("ThemMoi", "NhanVien", new { area = "Admin" })">Thêm mới</a>
</p>

<table class="table table-bordered">
    <tr>
        <th>
            <label class="control-label col-md-10 ">Tên nhân viên</label>
        </th>
        <th>
            <label class="control-label col-md-10 ">Ngày sinh</label>
        </th>
        <th>
            <label class="control-label col-md-10 ">Giới tính</label>
        </th>
        <th>
            <label class="control-label col-md-10 ">Số điện thoại</label>
        </th>
        <th>
            <label class="control-label col-md-10 ">Email</label>
        </th>
        <th>
            <label class="control-label col-md-10 ">CCCD</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="padding: 0px 25px">
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td style="padding: 0px 25px">
                @{
                    DateTime dt = DateTime.ParseExact(item.NgaySinh.ToString(), "dd/MM/yyyy hh:mm:ss", CultureInfo.InvariantCulture);
                    string s = dt.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture);
                    @Html.DisplayFor(modelItem => s)
                }
            </td>
            <td style="padding: 0px 35px">
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td style="padding: 0px 30px">
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCCD)
            </td>
            <td>
                @Html.ActionLink("Cập nhật", "CapNhat", new { id = item.MaNV }) |
                @Html.ActionLink("Xóa", "Xoa", new { id = item.MaNV })
            </td>
        </tr>
    }

</table>
<div class="dlink">
    @Html.PagedListPager(Model, page => Url.Action("DanhSachNhanVien", new { page = page }))
</div>
