@using TestTemplate.Models;

<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
        <a href="~/" class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-2 me-2">
                <img class="img-fluid" src="~/Content/img/sport.png" alt="Icon" style="width: 30px; height: 30px;">
            </div>
            <h1 class="m-0 text-primary">Sport</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="~/" class="nav-item nav-link @Html.Raw(ViewBag.active == 1 ? "active":"")">Trang chủ</a>
                <a href="~/Football" class="nav-item nav-link @Html.Raw(ViewBag.active == 2 ? "active":"")">Bóng đá</a>
                <a href="~/Tennis" class="nav-item nav-link @Html.Raw(ViewBag.active == 3 ? "active":"")">Tennis</a>
                <a href="~/Basketball" class="nav-item nav-link @Html.Raw(ViewBag.active == 4 ? "active":"")">Bóng rổ</a>
                <a href="~/Badminton" class="nav-item nav-link @Html.Raw(ViewBag.active == 5 ? "active":"")">Cầu lông</a>

            </div>
            @*@Html.ActionLink("Đăng nhập", "DangNhap", "HomeAdmin", "Admin", null)*@
            @if (Session["user"] != null)
            {
                @*user_KhachHang khachHang = (user_KhachHang)Session["user"];
            <span style="padding: 28px; color: black; ">Chào @khachHang.HoTen</span>
            <a href="@Url.Action("DangXuat", "DangNhap")" class="btn btn-danger px-3 d-none d-lg-flex ">Đăng xuất</a>*@
                    user_KhachHang khachHang = (user_KhachHang)Session["user"];

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Chào @khachHang.HoTen
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @*<a class="dropdown-item" href="#">Action</a>*@
                      
                        <a class="dropdown-item" href="@Url.Action("Index","LichSuDatSan")">Lịch sử đặt sân</a>

                        <a class="dropdown-item" href="@Url.Action("DangXuat", "DangNhap")">Đăng xuất</a>
                    </div>
                </div>


            }
            else
            {
                <a href="@Url.Action("DangKy", "DangKy")" class="btn btn-danger px-4 d-none d-lg-flex" style="margin: 10px">Đăng ký</a>
                <a href="@Url.Action("DangNhap", "DangNhap")" class="btn btn-primary px-3 d-none d-lg-flex ">Đăng nhập</a>
            }

        </div>
        <div>

        </div>

    </nav>
    <p>
        @if (!string.IsNullOrEmpty(ViewBag.ThongBaoDatSan))
        {
            <br /> <!-- Thêm thẻ <br> ở đây để thông báo xuống dòng -->
            <div class="alert alert-success"> @ViewBag.ThongBaoDatSan</div>

        }
    </p>
</div>
<!-- Navbar End -->
