@using TestTemplate.Models
@model IEnumerable<CoSo>

<!--Take(2): lấy ra 2 cơ sở-->
@foreach (var item in Model.Take(2))
{
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="property-item rounded overflow-hidden">
            <div class="position-relative overflow-hidden">
                <a href="@Url.Action("Index", "DatSan", new { id_coso = item.MaCS, ten_coso = item.TenCS })"><img class="img-fluid" src="@Url.Content("~/Content/img/" + item.HinhAnh)" alt=""></a>
                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Bóng đá</div>
            </div>
            <div class="p-4 pb-0">
                <h5 class="text-primary mb-3">@item.MucGia</h5>
                <a class="d-block h5 mb-2" href="@item.LinkMap" target="_blank">@item.TenCS</a>
                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>@item.DiaChi</p>
            </div>
        </div>
    </div>
}

