@model PagedList.IPagedList<TestTemplate.Models.LichDat>
@using PagedList.Mvc;


@{
    ViewBag.Title = "DanhSachLichDat";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
    TestTemplate.Models.QLDSEntities db = new TestTemplate.Models.QLDSEntities();
}

<h2>Danh sách lịch đặt</h2>

<table class="table table-bordered">
    <tr>
        <th>
            <label class="control-label col-md-10 ">Mã đặt sân</label>
        </th>
        <th>
            <label class="control-label col-md-10 ">Khách hàng</label>
        </th>
        <th>
            <label class="control-label col-md-10 ">Sân</label>
        </th>
        <th>
            <label class="control-label col-md-10 ">Cơ sở</label>
        </th>
        <th>
            <label class="control-label col-md-10 ">Thời gian bắt đầu</label>
        </th>
        <th>
            <label class="control-label col-md-10 ">Thời gian kết thúc</label>
        </th>
        <th>
            <label class="control-label col-md-10 ">Trạng thái</label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="padding: 0px 35px">
                @Html.DisplayFor(modelItem => item.MaLichDat)
            </td>
            <td style="padding: 0px 30px">
                @Html.DisplayFor(modelItem => item.user_KhachHang.HoTen)
            </td>
            <td style="padding: 0px 30px">
                @Html.DisplayFor(modelItem => item.San.MaSan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.San.MaDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianKetThuc)
            </td>
            <td style="padding: 0px 30px">
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaLichDat }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaLichDat }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaLichDat })
            </td>*@
        </tr>
    }

</table>
<div class="dlink">
    @Html.PagedListPager(Model, page => Url.Action("DanhSachLichDat", new { page = page }))
</div>
