@model TestTemplate.Models.CoSo

@{
    ViewBag.Title = "Cập nhật cơ sở";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
    TestTemplate.Models.QLDSEntities db = new TestTemplate.Models.QLDSEntities();
}

<h2>Cập nhật</h2>

@using (Html.BeginForm("CapNhat", "CoSo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!--lấy ra đối tượng cần cập nhật-->
    @Html.HiddenFor(m => m.MaCS)
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-10 " style="margin-top: 10px">Mã cơ sở</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.MaCS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaCS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-10 " style="margin-top: 10px">Tên cơ sở</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenCS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenCS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-10 " style="margin-top: 10px">Hình ảnh</label>
        <div class="col-md-10">
            <input type="file" name="FileAnh" />
            @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-10 " style="margin-top: 10px">Địa chỉ</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-10 " style="margin-top: 10px">Link google maps</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.LinkMap, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LinkMap, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-10 " style="margin-top: 10px">Mức giá</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.MucGia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MucGia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-10 " style="margin-top: 10px">Mã loại sân</label>
        <div class="col-md-10">
            <select name="MaLs" class="form-control">
                @foreach (var loai in db.LoaiCoSoes.ToList())
                {
                    <option value="@loai.MaLoaiCS">@loai.TenLoaiCS</option>
                }
                @*<option value="BongDa">f</option>
                    <option value="BongRo">br</option>
                    <option value="CauLong">bmt</option>
                    <option value="Tennis">tennis   </option>*@
            </select>
            @Html.ValidationMessageFor(model => model.MaLoaiCS, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cập nhật" class="btn btn-primary" />
        </div>
    </div>
</div>
}

