@using System.Globalization;
@using PagedList.Mvc;

@model PagedList.IPagedList<TestTemplate.Models.user_KhachHang>

@{
    ViewBag.Title = "DanhSachKhachHang";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2  style="margin-left: 450px">Danh sách khách hàng</h2>

<table class="table">
    <tr>
        <th>
            <label class="control-label col-md-10 ">Họ tên</label>
        </th>
        <th>
            <label class="control-label col-md-13 ">Số điện thoại</label>
        </th>
        <th>
            <label class="control-label col-md-13 ">Email</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="padding: 0px 30px">
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.ActionLink("Xem lịch đặt", "DanhSachLichDat", new { id = item.MaKH }) |
                @Html.ActionLink("Xem hóa đơn", "HoaDon", new { id = item.MaKH }) |
                @Html.ActionLink("Cập nhật", "CapNhat", new { id = item.MaKH }) |
                @Html.ActionLink("Xóa", "Xoa", new { id = item.MaKH })
            </td>
        </tr>
    }
</table>

<div class="dlink">
    @Html.PagedListPager(Model, page => Url.Action("DanhSachKhachHang", new { page = page }))
</div>
