@model TestTemplate.Models.DatSan

@{
    ViewBag.Title = "Đặt sân";
    Layout = "~/Views/Shared/LayoutDatSan.cshtml";
    TestTemplate.Models.QLDSEntities db = new TestTemplate.Models.QLDSEntities();
    var idcoso = Session["id_coso"] as string;

    var kh = Session["user"] as TestTemplate.Models.user_KhachHang;
}
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div style="margin: 100px 0px">
            <div class="container">
                <div class="form-horizontal">
                    <h4> @Session["ten_coso"] </h4>
                    <hr />

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label class="control-label col-md-2" style="margin-top: 10px">Loại sân</label>
                        <div class="col-md-10">
                            <select name="ma_danhmuc" class="form-control">
                                @foreach (var dm in db.DanhMucSans.Where(c => c.MaCS == idcoso).ToList())
                                {
                                    <option value="@dm.MaDanhMuc">@dm.LoaiSan</option>
                                }
                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="ma_danhmuc" name="ma_danhmuc" />

                    <div class="form-group">
                        <label class="control-label col-md-2" style="margin-top: 10px">Ngày đặt sân</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.ngayDatSan, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                            @Html.ValidationMessageFor(model => model.ngayDatSan, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" style="margin-top: 10px">Giờ bắt đầu</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.gioBatDau, "{0:HH:mm}", new { @class = "form-control", type = "time" })
                            @Html.ValidationMessageFor(model => model.gioBatDau, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" style="margin-top: 10px">Giờ kết thúc</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.gioKetThuc, "{0:HH:mm}", new { @class = "form-control", type = "time" })
                            @Html.ValidationMessageFor(model => model.gioKetThuc, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @if (Session["user"] != null)
                        {
                            <div class="col-md-offset-2 col-md-10" style="margin-top: 20px">
                                <input type="submit" value="Đặt sân" class="btn btn-primary" />
                            </div>
                        }
                        else { 
                            <h4 style="margin-top: 10px; color: red">Bạn cần đăng nhập để đặt sân</h4>
                        }
                    </div>
                </div>
            </div>
        </div>
    }


<script>
    $(document).ready(function () {
        $("select[name='ma_danhmuc']").change(function () {
            var selectedSan = $(this).val();
            $("#MaDanhMuc").val(selectedSan);
        });
    });
</script>

